{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Course create form</h4>
          <p class="card-description">
            Basic form layout
          </p>
          <form class="forms-sample" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label for="exampleInputUsername1">Title</label>
              {% render_field form.title type="text" class="form-control" id="exampleInputUsername1" placeholder="Title" %}
            </div>
            <div class="form-group">
                <label for="exampleInputUsername1">Price</label>
                {% render_field form.price type="number" class="form-control" id="exampleInputUsername1" placeholder="Price 500000" %}
            </div>
            <div class="form-group">
                <label for="exampleTextarea1">Description</label>
                {% render_field form.description class="form-control" id="exampleTextarea1" rows="6" %}
            </div>
            <div class="form-group">
                <label for="exampleInputUsername1">Lessonn quantity</label>
                {% render_field form.lesson_qty type="number" class="form-control" id="exampleInputUsername1" placeholder="Lesson qty 72" %}
            </div>
            <button type="submit" class="btn btn-primary mr-2">Submit</button>
          </form>
        </div>
      </div>
    </div>
</div>

{% endblock %}