{% extends 'mainapp/baces.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <p class="card-title mb-0">Courses</p>
          <a href="{% url 'course_c' %}" class="btn btn-primary mr-2">Add Job</a>
          <div class="table-responsive">
            <table class="table table-striped table-borderless">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Price</th>
                  <th>Lesson qty</th>
                  <th>Actions</th>
                </tr>  
              </thead>
              <tbody>
                {% for job in jobs %}
                <tr>
                  <td>{{ job.title }}</td>
                  <td>{{ job.citiy }}</td>
                  <td>{{ course.lesson_qty }}</td>
                  <td>
                        <a href="{% url 'course_u' course.id %}">
                        <i class="ti-pencil btn-icon-prepend"></i></a>
                        <a href="{% url 'course_d' course.id %}">
                        <i class="ti-trash btn-icon-prepend"></i></a>
                   </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}